{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Quality Center</span>
                <p>Hello {{ user.username }}</p>
            </div>
            <div class="card-content">
                <span class="card-title">Test List</span>
                {% include 'main_app/test_list.html' %}
            </div>
            <div class="card-action">
                <a class="btn red" href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
    </div>
{% endblock %}
