{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <form method="post">
                {% csrf_token %}
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <span class="card-title">{{ quality_test.name }} - {{ quality_test.date }}</span>
                            <p>
                                Order ID: <b>{{ quality_test.order_id }}</b><br>
                                Product: <b>{{ quality_test.product }}</b><br>
                                Quantity: <b>{{ quality_test.quantity }}</b>
                            </p>
                        </div>
                    </div>

                    <ul class="collapsible z-depth-0">
                        {% for step_group in steps_groups %}
                            <li>
                                <div class="collapsible-header"><h5>{{ step_group.name }}</h5><span class="badge"><i class="material-icons">keyboard_arrow_down</i></span></div>
                                <div class="collapsible-body">
                                    <ul class="collection">
                                        {% for step in steps %}
                                            {% if step.step.group == step_group %}
                                                <li class="collection-item">
                                                    {% if quality_test.close %}
                                                        <h5>{{ step.step.name }}</h5>
                                                        <p>{{ step.step.description }}</p>
                                                        <p>Notes: {{ step.notes }}</p>
                                                        <p>Status: {{ step.status }}</p>
                                                    {% else %}
                                                        <h5>{{ step.step.name }}</h5>
                                                        <p>{{ step.step.description }}</p>
                                                        <div class="row">
                                                            {{ step.form }}
                                                        </div>
                                                    {% endif %}
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>

                    <div class="card-content">
                        <span class="card-title">Result</span>
                        {% if quality_test.close %}
                            <p>Notes</p>
                            <div class="divider"></div>
                            <p>{{ quality_test.notes }}</p>
                            <br>
                            <p>Status</p>
                            <div class="divider"></div>
                            <p>{{ quality_test.status }}</p>
                        {% else %}
                            <div class="row">
                                {{ quality_test_form }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="card-action">
                        <input type="submit" class="btn blue waves-light waves-effect" value="Save">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            console.log("Loaded");
            M.AutoInit();
            setTimeout(() => {
                console.log("Update text fields")
                M.updateTextFields();
            }, 1500)
            let message = {{ message|safe }};
            message.forEach(m => {
                M.toast({
                    "html": m,
                    "classes": "green"
                })
            })
        })
    </script>
{% endblock %}