<li class="collection-item">
    <h5>{{ step.name }}</h5>
    <p>
        {{ step.description }}
    </p>
    <div class="input-field col s12">
        <textarea id="step-notes-{{ step.step }}" class="materialize-textarea"></textarea>
        <label for="step-notes-{{ step.step }}">Notes</label>
    </div>
    <div class="input-field col s12">
        <select id="step-status-{{ step.step }}">
            <option value="" disabled selected>Status</option>
            <option value="PROGRESS"></option>
            <option value="PASS"></option>
            <option value="FAIL"></option>
            <option value="SCHEDULED"></option>
        </select>
        <label>Materialize Select</label>
    </div>
</li>