<div class="collection with-header">
    {% for test in quality_test %}
        <a class="collection-item" href="{% url 'test' test.pk %}">
            {{ test.name }} - {{ test.date }}
            <span class="new badge {% if test.status == "PASS" %}
                green
            {% elif test.status == "FAIL" %}
                red
            {% elif test.status == "PROGRESS" %}
                blue
            {% elif test.status == "SCHEDULED" %}
                purple
            {% endif %} " data-badge-caption="{{ test.status }}"></span>
        </a>
    {% endfor %}
</div>
