{% if user.is_authenticated %}

    <nav>
        <div class="nav-wrapper blue-grey">
            <a style="margin-left: 24px" href="{% url 'home' %}" class="brand-logo">Quality Center</a>
        </div>
    </nav>

{% endif %}