{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <form method="post">
                {% csrf_token %}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Connexion</span>
                        {% if error %}
                            <div class="card-panel red">
                                <p>{{ error }}</p>
                            </div>
                        {% endif %}
                        {% if info %}
                            <div class="card-panel light-blue">
                                <p>{{ info }}</p>
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" name="username" id="username">
                                <label for="username">Username</label>
                            </div>
                            <div class="input-field col s12">
                                <input type="password" name="password" id="password">
                                <label for="password">Password</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <input type="submit" class="btn blue waves-effect waves-light" value="Connexion">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}