<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {% include 'snippets/css.html' %}
        {% block style %}{% endblock %}
    </head>
    <body>
        <header>
            {% include 'snippets/nav.html' %}
            {% block header %}{% endblock %}
        </header>
        <main>{% block content %}{% endblock %}</main>
        <footer>{% block footer %}{% endblock %}</footer>
        {% include 'snippets/js.html' %}
        {% block script %}{% endblock %}
    </body>
</html>